/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--bg-image, --bg-color, #000028);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-text-color, #ff0070);
  border-inline-end: 1px solid var(--accent-text-color, #ff0070);
  inset-block-start: 10px;
  inset-inline-end: 10px;
  position: absolute;
}

.decorated-zone::after {
  content: "";
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-text-color, #ff0070);
  border-inline-start: 1px solid var(--accent-text-color, #ff0070);
  inset-block-end: 10px;
  inset-inline-start: 10px;
  position: absolute;
}

.header {
  padding: 10px;
  min-block-size: 668px;
  block-size: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
}

.header__decor {
  position: absolute;
  z-index: -1;
  inset-block-start: 12px;
  inset-inline-end: 20px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.header__decor::before {
  content: "rec";
  text-transform: uppercase;
  color: var(--accent-text-color, #ff0070);
}

.header__decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 3px var(--rec-color, #ff0070);
  inline-size: 8px;
  block-size: 8px;
  background-color: var(--rec-color, #ff0070);
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 13px;
}

.header__theme-menu-button {
  display: inline-flex;
  padding: 0px 13px;
  text-align: center;
  background-color: transparent;
  border: none;
  color: var(--accent-text-color, #ff0070);
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-text-color, #ff0070);
}

.header__title {
  color: var(--main-title-color, #db00ff);
  text-shadow: 4px 4px 0px var(--main-title-shadow, #ff0070);
  text-transform: lowercase;
  font-size: var(--title-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 0.825;
  text-align: start;
}

.title-decor {
  color: var(--title-color, #000028);
  background-color: var(--accent-bg-color, #ff0070);
  font-weight: 700;
  line-height: 1.3;
  font-size: 18px;
}

.header__text {
  inline-size: max(355px, 50%);
  justify-self: end;
}

.content {
  margin: 40px auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.content__article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.accent-title {
  color: var(--accent-text-color, #ff0070);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.content__description {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.content__text {
  margin-block-start: 10px;
  color: var(--text-color, #f1b2ce);
  line-height: 1.3;
}

a {
  text-decoration: none;
  text-shadow: 2px 1px 0px var(--link-color, #ff0070);
}

.content__advice_title {
  font-weight: 400;
}

.content__pictures {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.content__picture {
  inline-size: 100%;
  object-position: center;
  object-fit: cover;
}

.gallery {
  display: grid;
  gap: 10px;
}

.footer {
  min-block-size: 668px;
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__title {
  color: var(--main-title-color, #db00ff);
  text-shadow: 2px 2px 0px var(--main-title-shadow, #ff0070);
  text-transform: lowercase;
  font-size: var(--title-font-size);
  font-style: normal;
  font-weight: 700;
  text-align: start;
}

/* далее медиа-запросы*/

@media (width >= 768px) {
  .header {
    padding: 20px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__decor {
    inset-block-start: 22px;
    inset-inline-end: 30px;
  }

  .content {
    margin: 60px auto;
    padding: 0 20px;
    gap: 80px;
  }

  .content__article.why,
  .content__article.how {
    grid-template-columns: 1fr 2fr;
  }

  .accent-title.what {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .content__pictures {
    gap: 20px;
  }

  .gallery {
    gap: 20px;
    grid-template-columns: 3;
    grid-template-rows: 3;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .gallery .content__picture {
    block-size: 100%;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: baseline;
  }

  .header__title, .footer__title {
    --main-title-shadow: #ff0070;
  }

  .content__description.what {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
